{% extends 'client/base.html' %}
{% load static %}


{% block content %}

    <div class="books-area inner-box">
        {# <h2>My library:</h2> #}
        {# <p>Select book and a chapter to type:</p> #}

        {% for item in txt %}
            <div class="book-card" id="book{{ item.id }}" style="visibility:hidden;">
                <div class="book-title">
                    {{ item.title }}
                </div>
                <div class="book-author">
                    {{ item.author }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="sections-area inner-box">
        {# <div class="sections"></div> #}
    </div>
{% endblock content %}


{% block js %}
    <script defer src="{% static 'client/chapterselect.js' %}"></script>
    {# <script src="{% static 'client/animate.js' %}" defer></script> #}
{% endblock js %}

