{% extends 'client/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'client/type.css' %}">
{% endblock css %}


{% block content %}

    {# <h2>Type area</h2> #}

    <div class="confirm-modal">
        <div class="confirm-content">
            <div class="confirm-header">
                <div>Warning</div>
            </div>
            <div class="confirm-body">
                <div class="confirm-text">You have already finished this text.</div>
                <div class="confirm-text">Do you wish to retry?</div>
            </div>
            <div class="confirm-btns">
                <div class="confirm-yes">Yes, retry</div>
                <div class="confirm-no">No, go back</div>
            </div>
        </div>
    </div>

    <div class="wait-modal">
        <div class="wait-message">- 5 seconds. Countdown paused. Continue typing to resume.</div>
    </div>

    <div class="stats">
        <div class="cpm">{{ data.cpm }} cpm</div>
        <div class="wpm">{{ data.wpm }}  wpm</div>
        <div class="acc">{{ data.acc }}% accuracy</div>
    </div>

    <div class="main-text"></div>

    {% csrf_token %}

    {{ data|json_script:'data' }}

{% endblock content %}


{% block js %}
    <script src="{% static 'client/type.js' %}" defer></script>
{% endblock js %}

